/*html page body*/

body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5vw;
  margin: 0vw;
  padding: 0vw;
  background-color: lightgray;
}

/*navigation bar*/

nav {
  margin: 0vw;
  padding: 0vw;
  width: 100vw;
  height: 4vw;
  background-color: white;
  color: deepskyblue;
  position: fixed;
  top: 0;
}

nav ul {
  margin: 0vw;
  padding: 0vw;
  width: 100vw;
  height: 4vw;
  list-style: none;
}

nav ul li a {
  display: block;
  float: left;
  padding: 1vw 2vw;
  font-size: 1.6vw;
  font-weight: bold;
  text-decoration: none;
  background-color: white;
  color: deepskyblue;
}

nav ul li:last-child {
  float: right;
}

nav ul li a:link {
  background-color: white;
  color: deepskyblue;
}

nav ul li a:hover {
  background-color: deepskyblue;
  color: white;
}
nav ul li a:active {
  background-color: rgb(3, 39, 51);
  color: white;
}

/*contact section*/

div.contact {
  margin-top: 4vw;
  width: 100vw;
  height: 75vw;
}

div.contact div.reach {
  margin: 0vw;
  padding: 0vw;
  width: 50vw;
  height: 75vw;
  float: left;
  background-color: rgb(3, 39, 51);
  color: white;
}

div.contact div.reach div.title {
  margin: 0vw;
  padding: 0.5vw 0vw;
  text-align: center;
  width: 50vw;
  height: 5vw;
  color: white;
}

div.contact div.reach div.title h1 {
  margin: 0vw;
  padding: 1vw;
}

div.contact div.reach div.section {
  margin: 0vw;
  padding: 1.5vw 0vw;
  width: 50vw;
  height: 20vw;
  color: white;
  text-align: center;
}

div.contact div.reach div.section div.section1 {
  margin: 2vw 6vw;
  border: 0.1vw solid white;
}

div.contact div.reach div.section div.section1 i {
  margin: 2vw;
  font-size: 7vw;
}

div.contact div.reach div.section div.section2 {
  margin: 2vw 6vw;
  border: 0.1vw solid white;
}

div.contact div.reach div.section div.section2 i {
  margin: 2vw;
  font-size: 7vw;
}

div.contact div.reach div.section div.section3 {
  margin: 2vw 6vw;
  border: 0.1vw solid white;
}

div.contact div.reach div.section div.section3 i {
  margin: 2vw;
  font-size: 7vw;
}

div.contact div.form {
  margin: 0vw;
  padding: 0vw;
  width: 50vw;
  height: 75vw;
  /* background-color: lightblue; */
  background-color: white;
  color: rgb(3, 39, 51);
  font-size: 1.3vw;
  float: right;
  text-align: left;
}

div.contact div.form form {
  margin: 0.5vw 6vw 2vw 6vw;
  padding: 1vw 5vw;
  height: 70vw;
  color: rgb(3, 39, 51);
  border: 0.5vw groove rgb(3, 39, 51);
  outline: 0.2vw solid darkgrey;
}

div.contact div.form form label,
input,
select {
  margin-bottom: 0.5vw;
  color: rgb(3, 39, 51);
}

/* footer */

footer {
  background-color: rgb(6, 65, 85);
  color: aliceblue;
  width: 100vw;
  height: 11vw;
  padding: 1vw 0vw;
  text-align: center;
}

footer div.find {
  margin-bottom: 2vw;
}

footer div.social {
  margin-bottom: 2vw;
  font-size: 2vw;
}

footer div.social a {
  padding-right: 1vw;
}

footer div.social a.facebook,
a.github,
a.youtube,
a.linkedin,
a.blogger,
a.instagram,
a.twitter:link {
  background-color: rgb(6, 65, 85);
  color: aliceblue;
}

div.social a:link {
  background-color: rgb(6, 65, 85);
  color: aliceblue;
}

div.social a.facebook:hover {
  color: rgb(68, 107, 235);
}

div.social a.github:hover {
  color: greenyellow;
}

div.social a.youtube:hover {
  color: red;
}

div.social a.linkedin:hover {
  color: rgb(66, 66, 223);
}

div.social a.blogger:hover {
  color: rgb(250, 71, 6);
}

div.social a.instagram:hover {
  color: deeppink;
}

div.social a.twitter:hover {
  color: deepskyblue;
}

div.social a:active {
  color: gray;
  background-color: rgb(6, 65, 85);
}

div.social a:visited {
  background-color: rgb(6, 65, 85);
  color: aliceblue;
}

div.copyright p {
  margin: 0vw;
}
